* {
	margin: 0px;
	padding: 0px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	cursor: pointer
}
::-webkit-scrollbar-thumb {
	background: #333;
}

::-webkit-scrollbar-thumb:active {
	background: transparent cursor: pointer;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active,
::-webkit-scrollbar-corner {
	background: transparent
}

body {
	min-width: 650px;
	min-height: 330px;
}

#header {
	padding: 3px 0px 0px 10px;
	background-color: #2D2D2D;
	color: white;
	height: 30px;
	font-weight: lighter;
	font-family: Segoe\000020UI, Tahoma, Arial;
	font-size: 15px;
    -webkit-user-select: none;
    cursor:default;
}

#crm-logo {
	width: 24px;
	vertical-align: sub;
	margin-right: 5px;
}

#editor {
	margin: 33px 0px 0px 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 90%;
}

.ace_gutter,
.ace_scroller {
	padding-top: 3px
}

#buttons {
	position: absolute;
	z-index: 5;
	right: 20px;
	top: 7px;
    -webkit-appearance: none;
}

.button {
	float: left;
	margin-left: 1px;
	margin-right: 1px;
	font-family: Segoe\000020UI, Tahoma, Arial;
	font-size: 11px;
	color: #A29D9D;
	cursor: pointer;
    -webkit-user-select: none;
}

.button:hover {
	background-color: #333;
}

.button img {
	vertical-align: top;
}

.button span {
    cursor:default!important;
}

.selectbox {
	color: #C3BEBE;
	font-size: 11px;
	border: 1px solid #544F4F;
	padding: 2px 10px 2px 0px;
	margin-right: 2px;
	-webkit-appearance: none;
	background: url(../img/down-arrow.png) no-repeat right #443F3F;
	cursor:pointer;
}

.input{
    color: #C3BEBE;
	font-size: 11px;
	border: 1px solid #544F4F;
	padding: 2px 2px 2px 2px;
	margin-right: 2px;
    width:85px;
	-webkit-appearance: none;
	background:#443F3F;
}

#notification {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-shadow: 1px 1px 1px #333;
    font-size: 10px;
    -webkit-user-select: none;
    cursor:default;
    display:none;
}

.success {
    background-color: #87BF82;
}

.warning {
    background-color: #C6D869;
}

.danger {
    background-color: #E63A3A;
}

.info {
    background-color: #4CB0F7;
}
